services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html
  
  db:
    image: mariadb:11.4
    environment:
      MYSQL_ROOT_PASSWORD: examplepassword
      MYSQL_DATABASE: novaccess
      MYSQL_USER: exampleuser
      MYSQL_PASSWORD: examplepass
    ports:
      - "3306:3306"
    volumes:
      - ./data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  adminer:
    image: adminer:latest
    ports:
      - "8080:8080"
    depends_on:
      - db